*{
    color: black;
    font-family: cursive;
}

header{
    background-image: url(../images/design1_image2.jpg);
    background-size: 100% 150%;
    margin-top: 1rem;
    background-color: aqua;
}

h1{
    position: absolute;
    top: -2.5rem;
    font-style: oblique;
    font-size: 3.8rem;
    background-color: none;
}

h2{
    text-align: center;
    margin-top: 0.1em;
    color: white;
    background: black;
    font-size: 2rem;
}

article{
    display: block;
    position: relative;
    bottom: 22.5rem;
    left: 15rem;
    background-color: none;
    font-size: 1.5rem;
}

nav>a{
    display:block;
    margin: 2.5rem;
    position: relative;
    font-size: 1.8rem;
    width: 5rem;
    height: 5rem;
    color: blue;
}

section img{
    display: inline-block;
    position: absolute;
    top: 14rem;
    left: 70rem;
    font-size: 1.8rem;
}

#mail{
    color: blue;
}

p{
    margin: 2.5rem;
    margin-top: -2rem;
    width: 70%;
}