*{
    margin: 0;
    box-sizing: content-box;
    font-family: cursive;
}

header{
    display: flex;
    flex-direction: column;
    background-image: url(../images/design1_image1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 10vh;
    height: 40vh;
}

h1{
    font-size: 4rem;
}

nav>a {
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:start;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: rgb(0, 119, 255);
}

main{
    min-height: 90vh;
}

section img{
    margin-left: 70rem;
    margin-top: -7rem;
}

h2{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: -25rem;
    font-size: 2rem;
}

article{
    display: flex;
    flex-direction: column;
    width: 82%;
    height: 100%;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#mail{
    color: rgb(0, 119, 255);
}