/*NORMALIZACION*/
* {
    margin: 0;
    box-sizing: content-box;
    font-family: cursive;
}

/*ENCABEZADO*/
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid orangered;
    border-radius: 10px;
    background-image: url(../images/Patos.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 10vh;
    height: 50vh;
}

/*TITULO GENERAL*/
h1 {
    margin-top: -0.5rem;
    margin-left: 1rem;
    text-shadow: 5px 5px black;
    flex-grow: 1;
    color: white;
}

/*BARRA DE NAVEGACION*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.1rem;
    margin-top: -1.5rem;
    font-size: 1.5rem;
}

/*FORMATO DEL NAVBAR*/
#home {
    padding: 0.1em 0.8em;
    border: 0.1em solid black;
    background-color: rgb(4, 75, 51);
    color: white;
    text-decoration: none;
}

#about {
    padding: 0.1em 0.8em;
    border: 0.1em solid black;
    background-color: rgb(4, 75, 51);
    color: white;
    text-decoration: none;
}

#contact {
    padding: 0.1em 0.8em;
    border: 0.1em solid black;
    background-color: rgb(4, 75, 51);
    color: white;
    text-decoration: none;
}

#rules {
    padding: 0.1em 0.8em;
    border: 0.1em solid black;
    background-color: rgb(4, 75, 51);
    color: white;
    text-decoration: none;
}

#schedule {
    padding: 0.1em 0.8em;
    border: 0.1em solid black;
    background-color: rgb(4, 75, 51);
    color: white;
    text-decoration: none;
}

#form {
    padding: 0.1em 0.8em;
    border: 0.1em solid black;
    background-color: rgb(4, 75, 51);
    color: white;
    text-decoration: none;
}

#home:hover {
    background-color: orange;
    color: black;
}

#about:hover {
    background-color: orange;
    color: black;
}

#contact:hover {
    background-color: orange;
    color: black;
}

#rules:hover {
    background-color: orange;
    color: black;
}

#schedule:hover {
    background-color: orange;
    color: black;
}

#form:hover {
    background-color: orange;
    color: black;
}

/*IMAGEN DE FONDO*/
main {
    background-image: url(../images/logo3.png);
    background-repeat: no-repeat;
    min-height: 90vh;
}

/*SUBTITULOS*/
h2 {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#legend {
    background-color: orange;
    text-align: center;
    margin-bottom: 2rem;
}

/*TEXTO*/
p {
    text-align: justify;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: cursive;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

h3 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 1.6;
}

li {
    text-align: justify;
    margin: 1rem 3rem 1rem 1rem;
    font-family: cursive;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

/*SCHEDULE*/

/*TITULO DE LA TABLA*/
caption {
    background-color: orange;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

/*TABLA*/

table {
    border: 2px solid orangered;
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

tr,
th,
td {
    border: 2px solid orangered;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.2rem;
}

/*MAPAS*/
#maps {
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin: 3rem 3rem 3rem 3rem;
    text-align: center;
}

#info {
    margin-top: 1rem;
    margin: 3rem 3rem 3rem 3rem;
    font-size: 1.2rem;
    text-align: center;
}

/*FORM*/

/*FORMULARIO*/
form {
    margin-top: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/*FORMATO BOTON "ENVIAR"*/
#send {
    background-color: orange;
    font-size: 2rem;
}

#send:hover {
    background-color: orangered;
    color: white;
}

/*AUTORIZACION*/
#permission {
    background-color: rgba(238, 189, 189, 0.507);
    margin-top: 2rem;
    border-radius: 2rem;
    text-align: center;
}

@media only screen and (min-width:320px) and (max-width:767px) {
   
    tr,
    th,
    td {
        border: 2px solid orangered;
        border-collapse: collapse;
        text-align: center;
        font-size: 0.9rem;
    }

    #maps {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    #info {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}